                    <div class="jumbotron">
						<div class="row">
							<div class = "col-6 col-sm-12 col-lg-7">
                        		<h1 class="display-4 maintitle"> GC Statistics</h1>
                        		<p class="lead subtitle">Resources for Statistics at Georgetown College</p>
							</div>
							<div class="col-6 col-sm-12 col-lg-5">
	                        <img id="EmpRuleIcon" src="img/EmpRuleBetween68.png" onclick="changeImage();"/>
							</div>
						</div> <!-- /row -->
                    </div> <!-- /jumbotron -->