<div class="navbar navbar-fixed-top" role="navigation"> 
	    <button class="navbar-toggler hidden-md-up" type="button" 
		  data-toggle="collapse" data-target="#navbarResponsive" 
		  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		  	<a href="#">&#9776;</a>
		  </button>
		
		<div class="collapse navbar-toggleable-sm" id="navbarResponsive">
		<a class="navbar-brand btn btn-gc" href="http://www.georgetowncollege.edu">Georgetown</a>
		<ul class="nav navbar-nav">
          <li class="nav-item active"><a class="nav-link btn btn-gc" 
		    href="index.html">Home</a></li> 
          <li class="nav-item"><a class="btn btn-gc" href="http://www.georgetowncollege.edu/mpc/faculty/">
		     About</a></li> 

			      
		  <li class="nav-item"><div class="btn-group">
		    <button type="button" class="btn btn-gc">R Help</button>
		    <button type="button" class="btn btn-gc dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <div class="dropdown-menu">
		      <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/R_Descriptive.html" 
			    target = "_blank">Descriptive Outline</a>
		      <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/R_Inferential.html" 
				target = "_blank">Inferential Outline</a>
			  <h6 class="dropdown-header">Graphical Summaries</h6>
		      <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/barchartGC.html" target = "_blank">
			    Bar Charts</a>
		      <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/bwplot.html" target = "_blank">
			    Box-and-whisker Plots</a>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/densityplot.html" target = "_blank">
			    Density Plots</a>
		      <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/histogram.html"
			    target = "_blank">Histograms</a>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/xyplot.html" target = "_blank">
			    Scatter Plots</a>
			  <h6 class="dropdown-header">Numerical Summaries</h6>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/favstats.html" target = "_blank">
			    Mosaic's favstats</a>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/xtabs.html" target = "_blank">
			    Cross-tables and Percentages</a>
			  <h6 class="dropdown-header">Linear Models</h6>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/lmGC.html" target = "_blank">
			    lmGC</a>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/polyfitGC.html" target = "_blank">
			    polyfitGC</a>
			  <h6 class="dropdown-header">Probability</h6>
		      <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/pbinomGC.html" target = "_blank">
			    pbinomGC</a>
			  <a class="dropdown-item btn btn-gc"
			    href="http://homerhanumat.github.io/tigerstats/pnormGC.html" target = "_blank">
			    pnormGC</a>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/qnorm.html" target = "_blank">
			    qnorm</a>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/qnormGC.html" target = "_blank">
			    qnormGC</a>
              <h6 class="dropdown-header">Inferential Procedures</h6>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/binomtestGC.html" target = "_blank">
			    binomtestGC</a>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/proptestGC.html" target = "_blank">
			    proptestGC</a>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/chisqtestGC.html" target = "_blank">
			    The Chi-Square Test</a>
              <a class="dropdown-item btn btn-gc" 
			    href="http://homerhanumat.github.io/tigerstats/ttestGC.html" target = "_blank">
			    The t-Test</a>
		    </div>
		  </div></li>
		  


		  
		  <li class="nav-item"><div class="btn-group">
		    <button type="button" class="btn btn-gc">Apps</button>
		    <button type="button" class="btn btn-gc dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <div class="dropdown-menu">
			  
                <h6 class="dropdown-header">Shiny Apps</h6>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/CoinFlip" target="_blank">
				  Binomial Investigations</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/RandomExpBinom" target="_blank">
				  Randomized Experiments</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/SamplingMethods" target="_blank">
				  Three Sampling Methods</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/CentralLimit" target="_blank">
				  The Central Limit Theorem</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/CIMean" target="_blank">
				  Intervals for One Mean</a>                                                     
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/Type12Errors" target="_blank">
				  Tests for One Mean</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/ShallowReg" target="_blank">
				  Regression Line Too Shallow?</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/FindRegLine" target="_blank">
				  Find the Regression Line!</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/SlowGoodness" target="_blank">
				  Chi-Square Goodness of Fit</a>
                <a class="dropdown-item btn btn-gc" 
				  href="http://homer.shinyapps.io/SlowAssoc" target="_blank">
				  Chi-Square for Association</a>
                                                      
              </li><!-- / .dropdown -->
            
            </ul><!--  / .nav navbar-nav -->
	  </div><!-- /.navbar-collapse -->
</div><!-- /.navbar  navbar-fixed-top navbar-inverse -->