<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <a href="https://homerhanumat.github.io/elemStats" target = "_blank" class="list-group-item btn btn-gc">Course Notes</a>
    <a href="docs/bookweb.pdf" target="_blank" class="list-group-item btn btn-gc">PDF Notes</a>
    <a href="slides.html" class="list-group-item btn btn-gc">Slides</a>
    <a href="http://rstudio.georgetowncollege.edu:8787" target="_blank" class="list-group-item btn btn-gc">RStudio Server</a>
    <a href="practice.html" class="list-group-item btn btn-gc">Practice</a>
    <a href="http://www.youtube.com/user/GCstats" target="_blank" class="list-group-item btn btn-gc">Videos</a>
    <a href="https://homerhanumat.github.io" target="_blank" class="list-group-item btn btn-gc">Blog</a>
    <a href="more.html" class="list-group-item btn btn-gc">More</a>
	<a mailto="hwhite0@georgetowncollege.edu" class="list-group-item btn btn-gc">Contact</a>
  </div><!-- /list-group -->
</div><!--/ col-xs-6 sidebar -->