<div class="container">
<div class="row">

             <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>HTML Notes</h2>
              <p>The course notes in html form. </p>
              <p><a class="btn btn-default btn-gc" href="http://homerhanumat.github.io/elemStats" target = "_blank" role="button">View html &raquo;</a></p>
            </div>
			
 
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>PDF Course Notes</h2>
              <p>The course notes in pdf format. </p>
              <p><a class="btn btn-default btn-gc" href="docs/bookweb.pdf" target="_blank" role="button">View pdf &raquo;</a></p>
            </div>
			
          

            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>PDF Hardcopy</h2>
              <p>B & W graphs for cheap printing. </p>
              <p><a class="btn btn-default btn-gc" href="docs/bookprint.pdf" target="_blank" role="button">Get Them &raquo;</a></p>
            </div>
			
</div><div class="row">      
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>Course Slides</h2>
              <p>The lecture notes in slide form. </p>
              <p><a class="btn btn-default btn-gc" href="slides.html" role="button">View Them &raquo;</a></p>
            </div>
         
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>RStudio Server</h2>
              <p>We do most of our work here.</p>
              <p><a class="btn btn-default btn-gc" href="http://rstudio.georgetowncollege.edu:8787" target="_blank" role="button">Login &raquo;</a></p>
            </div> 
			
       
            
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>Practice</h2>
              <p>Practice tests, quizzes, etc. </p>
              <p><a class="btn btn-default btn-gc" href="practice.html" role="button">See More &raquo;</a></p>
            </div>
			
</div><div class="row">            
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>YouTube</h2>
              <p>Video lectures and assorted R tips and trouble-shoots are on our YouTube Channel:  Elementary Statistics With R.</p>
              <p><a class="btn btn-default btn-gc" href="http://www.youtube.com/user/GCstats" target="_blank" role="button">Go to Channel &raquo;</a></p>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>Moodle</h2>
              <p>For your conveience, a quick link to the College's Moodle site. </p>
              <p><a class="btn btn-default btn-gc" href="https://sage.georgetowncollege.edu/login/index.php" target="_blank" role="button">To Moodle &raquo;</a></p>
            </div>
			

            
            <div class="col-xs-12 col-md-6 col-lg-4">
              <h2>Other Resources</h2>
              <p>Other R and statistics resources that we think you might find helpful. </p>
              <p><a class="btn btn-default btn-gc" href="more.html" role="button">Take Me There &raquo;</a></p>
            </div>
  
</div><!--/row-->
</div>