<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
      <h2>R on Your Desktop
      </h2>
      <p>First download R from
        <a class="btn btn-gc" href="http://cran.us.r-project.org/" target="_blank">CRAN
        </a>.
          Then download
        <a class="btn btn-gc" href="http://www.rstudio.com" target="_blank">R Studio
        </a>.
      </p>
  </div><!--/span-->
            
           
</div><!--/row-->