<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Old Test #1</h2>
    <p>Covers Chapters One Through Four.</p>
    <p>
      <a class="btn btn-gc" href="docs/Old_Test_1_HSW.pdf" target="_blank" role="button">View PDF &raquo;</a>   
    </p>
  </div><!--/span-->  
</div><!--/row-->