          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 1</h2>
              <p>Basic R and an introductory activity.</p>
              <p><a class="btn btn-primary" href="docs/presCh1HSW-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 2 Pt. 1</h2>
              <p>Data basics, one factor variable, two factor variables, one numerical variable (numerical analysis only).</p>
              <p><a class="btn btn-primary" href="docs/presCh2P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                
              </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 2 Pt. 2</h2>
              <p>One numerical variable (graphical approach).  Describing shape of the distribution of a numerical variable.</p>
              <p><a class="btn btn-primary" href="docs/presCh2P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
		</div>
			
			<div class="row">
			
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 2 Pt. 3</h2>
              <p>One factor and one numerical variable, mean/SD vs. median/IQR, the 68-95 Rule and z-scores.</p>
              <p><a class="btn btn-primary" href="docs/presCh2P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 3 Pt. 1</h2>
              <p>Conditional distribtutions, detecting and describing realtionships between two factor variables.</p>
              <p><a class="btn btn-primary" href="docs/presCh3P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 3 Pt. 2</h2>
              <p>Inference for the relationship between two factor variables.  The Chi-Square test, and simulation of P-values.</p>
              <p><a class="btn btn-primary" href="docs/presCh3P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
		</div>
		<div class="row">
            
             <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 3 Pt. 3</h2>
              <p>Simpson's Paradox.</p>
              <p><a class="btn btn-primary" href="docs/presCh3P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                
              </p>
            </div><!--/span-->
            
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 4 Pt. 1</h2>
              <p>Two Numerical Variables:  Scatterplots.</p>
              <p><a class="btn btn-primary" href="docs/presCh4P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                
              </p>
            </div><!--/span-->
            
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 4 Pt. 2</h2>
              <p>Two Numerical Variables:  Correlation and Regression.</p>
              <p><a class="btn btn-primary" href="docs/presCh4P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
			
		</div>
		<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Ch. 4 Pt. 3</h2>
              <p>Two Numerical Variables:  Further Considerations.</p>
              <p><a class="btn btn-primary" href="docs/presCh4P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                
              </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 5 Pt. 1</h2>
              <p>Sampling:  The Idea of random Sampling; Simple Random Sampling, Stratified Sampling, and Cluster Sampling.
              </p>
              <p><a class="btn btn-primary" href="docs/presCh5P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 5 Pt. 2</h2>
              <p>Sampling:  Bias in Sampling; Selection Bias, Non-Response Bias, and Response Bias.
              </p>
              <p><a class="btn btn-primary" href="docs/presCh5P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 6 Pt. 1</h2>
              <p>Design of Studies:  Observational studies and Experiments, Completely Randomized Designs.
              </p>
              <p><a class="btn btn-primary" href="docs/presCh6P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
              </p>
            </div><!--/span-->
              
              <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 6 Pt. 2</h2>
              <p>Design of Studies:  Randomized Block Designs, Matched Pairs/Repeated Measures, Further Ideas.
              </p>
              <p><a class="btn btn-primary" href="docs/presCh6P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 7 Pt. 1</h2>
              <p>Basic Probability:  Discrete Random Variables; Probability Distributions
              </p>
              <p><a class="btn btn-primary" href="docs/presCh7P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 7 Pt. 2</h2>
              <p>Basic Probability: Expected Value and Standard Deviation; Binomial Random Variables 
              </p>
              <p><a class="btn btn-primary" href="docs/presCh7P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->            
           
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 7 Pt. 3</h2>
              <p>Basic Probability:  Continuous Random Variables; Approximating Binomials with Normals
              </p>
              <p><a class="btn btn-primary" href="docs/presCh7P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->          
            
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 8 Pt. 1</h2>
              <p>Probability in Sampling: Five Basic Parameters, and the Estimators for These Parameters
              </p>
              <p><a class="btn btn-primary" href="docs/presCh8P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
			
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 8 Pt. 2</h2>
              <p>Probability in Sampling: Defining Parameters for Experiments
              </p>
              <p><a class="btn btn-primary" href="docs/presCh8P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 8 Pt. 3</h2>
              <p>Probability in Sampling:  The Central Limit Theorem, Probability Applications, the 68-95 Rule for Random Variables
              </p>
              <p><a class="btn btn-primary" href="docs/presCh8P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 8 Pt. 4</h2>
              <p>Probability in Sampling:  Standard Errors; the 68-95 Rule for Estimation
              </p>
              <p><a class="btn btn-primary" href="docs/presCh8P4-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
			
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 9 Pt. 1</h2>
              <p>Confidence Intervals for Means
              </p>
              <p><a class="btn btn-primary" href="docs/presCh9P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 9 Pt. 2</h2>
              <p>How Confidence Intervals Work
              </p>
              <p><a class="btn btn-primary" href="docs/presCh9P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 9 Pt. 3</h2>
              <p>Confidence Intervals for Proportions
              </p>
              <p><a class="btn btn-primary" href="docs/presCh9P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
			
			</div>
			<div class="row">
            
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 9 Pt. 4</h2>
              <p>Cautions About Confidence Intervals
              </p>
              <p><a class="btn btn-primary" href="docs/presCh9P4-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 10 Pt. 1</h2>
              <p>Tests of Significance:  Tests Involving Means
              </p>
              <p><a class="btn btn-primary" href="docs/presCh10P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 10 Pt. 2</h2>
              <p>Tests of Significance:  The Relationship Between Tests and Confidence Intervals
              </p>
              <p><a class="btn btn-primary" href="docs/presCh10P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
			
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 10 Pt. 3</h2>
              <p>Tests of Significance:  The Importance of Safety Checks, and Types of Errors
              </p>
              <p><a class="btn btn-primary" href="docs/presCh10P3-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 10 Pt. 4</h2>
              <p>Tests of Significance:  Tests Involving Proportions
              </p>
              <p><a class="btn btn-primary" href="docs/presCh10P4-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 10 Pt. 5</h2>
              <p>Tests of Significance:  The Dangers of Limited Reporting, and Data Snooping
              </p>
              <p><a class="btn btn-primary" href="docs/presCh10P5-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
			
			</div>
			<div class="row">
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 11 Pt. 1</h2>
              <p>Chi-Square Test for Goodness of Fit: The Gambler's Die and Data Snooping</p>
              <p><a class="btn btn-primary" href="docs/presCh11P1-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
              
                </p>
            </div><!--/span-->
            
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>Ch. 11 Pt. 2</h2>
              <p>Chi-Square Test for Goodness of Fit: Randomness, and "Too-Good-To-Be-True" Tests</p>
              <p><a class="btn btn-primary" href="docs/presCh11P2-rpubs.html" target="_blank" role="button">View HTML &raquo;</a>
             
                </p>
            </div><!--/span-->
			
          </div><!--/row-->